<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Forms</h2>
</div>

<div class="section-column-right temp-white-box">
  <app-inputs class="temp-grey-box"></app-inputs>
  <app-select-dropdowns class="temp-grey-box"></app-select-dropdowns>
  <app-checkbox class="temp-grey-box"></app-checkbox>
  <app-radio-button class="temp-grey-box"></app-radio-button>
  <app-toggle-button class="temp-grey-box"></app-toggle-button>
  <app-tooltips class="temp-grey-box"></app-tooltips>
  <app-tags class="temp-grey-box"></app-tags>
</div>
