<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Typography</h2>

  <p class="normal-text grey-3-text">Roboto set with the perfect-fourth modular type scale</p>

  <a class="small-text grey-3-text" href="https://fonts.google.com/specimen/Roboto">https://fonts.google.com/specimen/Roboto</a>
  <br>
  <a class="small-text grey-3-text" href="https://www.modularscale.com/?16&px&1.333">https://www.modularscale.com/?16&px&1.333</a>
</div>

<div class="section-column-right temp-white-box">
  <h1 class="heading-1">
    <span class="teg">H1</span>Heading 1
  </h1>

  <h2 class="heading-2">
    <span class="teg">H2</span>Heading 2
  </h2>


  <h3 class="heading-3">
    <span class="teg">H3</span>Heading 3
  </h3>


  <h4 class="heading-4">
    <span class="teg">H4</span>Heading 4
  </h4>

  <h5 class="heading-5">
    <span class="teg">H5</span>Heading 5
  </h5>

  <h6 class="heading-6">
    <span class="teg">H6</span>Heading 6
  </h6>

  <p class="normal-text">
    <span class="teg">p</span>Body Text
  </p>

  <small class="small-text">
    <span class="teg">small</span>Small Text
  </small>
</div>
