<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Icons</h2>

  <p class="normal-text grey-3-text">Feather icons at 24px height and width with 2px stroke weight</p>

  <a class="small-text grey-3-text" href="https://feathericons.com/">https://feathericons.com/</a>
</div>

<div class="section-column-right temp-white-box icons-grid">
  <app-icon [name]="'home'"></app-icon>
  <app-icon [name]="'help'"></app-icon>
  <app-icon [name]="'success'"></app-icon>
  <app-icon [name]="'error'"></app-icon>
  <app-icon [name]="'star'"></app-icon>
  <app-icon [name]="'cart'"></app-icon>
  <app-icon [name]="'pin'"></app-icon>
  <app-icon [name]="'calendar'"></app-icon>
  <app-icon [name]="'edit'"></app-icon>
  <app-icon [name]="'dropdown'"></app-icon>
  <app-icon [name]="'bell'"></app-icon>
  <app-icon [name]="'upload'"></app-icon>
  <app-icon [name]="'download'"></app-icon>
  <app-icon [name]="'barChart'"></app-icon>
  <app-icon [name]="'inbox'"></app-icon>
  <app-icon [name]="'filter'"></app-icon>
  <app-icon [name]="'map'"></app-icon>
  <app-icon [name]="'zap'"></app-icon>
  <app-icon [name]="'share'"></app-icon>
  <app-icon [name]="'chat'"></app-icon>
  <app-icon [name]="'creditCard'"></app-icon>
  <app-icon [name]="'search'"></app-icon>
  <app-icon [name]="'user'"></app-icon>
  <app-icon [name]="'close'"></app-icon>
</div>

