<div class="form-group checkbox-form-group">
  <label for="checkbox" class="checkbox-label">Default</label>
  <input type="checkbox" id="checkbox" class="form-control">
</div>

<div class="form-group checkbox-form-group">
  <label for="checkbox-checked" class="checkbox-label">Checked</label>
  <input type="checkbox" id="checkbox-checked" checked class="form-control">
</div>

<div class="form-group checkbox-form-group">
  <label for="checkbox-disabled" class="checkbox-label">Disabled</label>
  <input type="checkbox" id="checkbox-disabled" disabled class="form-control">
</div>
