// Color Variables
$primary: #e85b81;
$primary-hover: #c12f5d;
$primary-highlight: #8ce0f3;
$secondary: #7048e8;
$secondary-hover: #5028c6;

$grey-1: #f8f9fa;
$grey-2: #dde2e5;
$grey-3: #acb5bd;
$grey-4: #495057;
$black: #212429;

$error: #f03d3e;
$success: #007b40;
$warning: #d84910;
