$heading-1: 56px;
$heading-2: 42px;
$heading-3: 34px;
$heading-4: 24px;
$heading-5: 20px;
$heading-6: 16px;

$large-text: 24px;
$medium-text: 18px;
$normal-text: 16px;
$small-text: 12px;

$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-normal: normal;
