<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Buttons</h2>
</div>

<div class="section-column-right flex-container temp-white-box">
  <div class="column">
    <button class="primary-button">Primary</button>
    <button class="primary-button hover">Primary</button>
    <button class="primary-button disabled">Primary</button>
  </div>

  <div class="column">
    <button class="secondary-button">Secondary</button>
    <button class="secondary-button hover">Secondary</button>
    <button class="secondary-button disabled">Secondary</button>
  </div>

  <div class="column">
    <button class="alternate-button">Alternate</button>
    <button class="alternate-button hover">Alternate</button>
    <button class="alternate-button disabled">Alternate</button>
  </div>
</div>
