<div class="form-group">
  <label for="idle-input" class="form-label">Label</label>
  <input type="text" id="idle-input" placeholder="Placeholder" class="form-control">
<!--  <i class="form-icon">ic</i>-->
</div>

<div class="form-group">
  <label for="idle-input-focused" class="form-label">Focus</label>
  <input type="text" id="idle-input-focused" placeholder="Placeholder" class="form-control focus">
<!--  <i class="form-icon">ic</i>-->
</div>

<div class="form-group">
  <label for="idle-input-success" class="form-label">Success</label>
  <input type="text" id="idle-input-success" placeholder="Placeholder" class="form-control success">
  <app-icon [name]="'success'" class="form-icon"></app-icon>
</div>

<div class="form-group">
  <label for="idle-input-error" class="form-label">Error</label>
  <input type="text" id="idle-input-error" placeholder="Placeholder" class="form-control error">
  <app-icon [name]="'error'" class="form-icon"></app-icon>
</div>
