<div class="form-group radiobtn-form-group">
  <label for="radiobtn" class="radiobtn-label">Default</label>
  <input type="radio" id="radiobtn" class="form-control">
</div>

<div class="form-group radiobtn-form-group">
  <label for="radiobtn-checked" class="radiobtn-label">Selected</label>
  <input type="radio" id="radiobtn-checked" checked class="form-control">
</div>

<div class="form-group radiobtn-form-group">
  <label for="radiobtn-disabled" class="radiobtn-label">Disabled</label>
  <input type="radio" id="radiobtn-disabled" disabled class="form-control">
</div>
