<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Tabs</h2>
</div>

<div class="section-column-right temp-white-box">
  <div class="tabs">
    <div class="tab active">Tab Active</div>
    <div class="tab disabled">Tab Inactive</div>
  </div>

  <div class="tabs-group">
    <div class="tab">Tab Default</div>
    <div class="tab">Tab Default</div>
    <div class="tab active">Tab Active</div>
    <div class="tab disabled">Tab Inactive</div>
    <div class="tab disabled">Tab Inactive</div>
  </div>
</div>
