<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Alerts</h2>
</div>

<div class="section-column-right temp-white-box">
  <div class="alert-error">
    <p><app-icon [name]="'error'" class="alert-icon"></app-icon> Error: Error Message</p>
    <app-icon [name]="'close'" class="close-icon"></app-icon>
  </div>

  <div class="alert-success">
    <p><app-icon [name]="'success'" class="alert-icon"></app-icon>Success: Success Message</p>
    <app-icon [name]="'close'" class="close-icon"></app-icon>
  </div>

  <div class="alert-warning">
    <p><app-icon [name]="'bell'" class="alert-icon"></app-icon>Notification: Notification Message</p>
    <app-icon [name]="'close'" class="close-icon"></app-icon>
  </div>
</div>
