<div class="section-column-left temp-white-box">
  <h2 class="heading-2">Colors</h2>

  <p class="normal-text grey-3-text">Primaries and grays</p>

  <a class="small-text grey-3-text" href="https://yeun.github.io/open-color/">https://yeun.github.io/open-color/</a>
</div>

<div class="section-column-right temp-white-box">
  <div class="primaries">
    <div class="primary-color-box">
      <div class="preview-color primary-bg"></div>
      <div class="preview-color-info">
        <span class="color-name">Pink</span>
        <span class="color-value">#e85b81</span>
      </div>
    </div>

    <div class="primary-color-box">
      <div class="preview-color secondary-bg"></div>
      <div class="preview-color-info">
        <span class="color-name">Purple</span>
        <span class="color-value">#7048e8</span>
      </div>
    </div>

    <div class="primary-color-box">
      <div class="preview-color primary-highlight-bg"></div>
      <div class="preview-color-info">
        <span class="color-name">Blue</span>
        <span class="color-value">#8ce0f3</span>
      </div>
    </div>
  </div>

  <div class="grays">
    <div class="grays-color-box">
      <div class="preview-color grey-1-bg"></div>
      <div class="preview-color-info">
        <span class="color-value">#f8f9fa</span>
      </div>
    </div>

    <div class="grays-color-box">
      <div class="preview-color grey-2-bg"></div>
      <div class="preview-color-info">
        <span class="color-value">#dde2e5</span>
      </div>
    </div>

    <div class="grays-color-box">
      <div class="preview-color grey-3-bg"></div>
      <div class="preview-color-info">
        <span class="color-value">#acb5bd</span>
      </div>
    </div>

    <div class="grays-color-box">
      <div class="preview-color grey-4-bg"></div>
      <div class="preview-color-info">
        <span class="color-value">#495057</span>
      </div>
    </div>

    <div class="grays-color-box">
      <div class="preview-color black-bg"></div>
      <div class="preview-color-info">
        <span class="color-value">#212429</span>
      </div>
    </div>
  </div>
</div>
