<app-colors class="style-guide-section temp-grey-box"></app-colors>
<app-typography class="style-guide-section temp-grey-box"></app-typography>
<app-buttons class="style-guide-section temp-grey-box"></app-buttons>
<app-tabs class="style-guide-section temp-grey-box"></app-tabs>
<app-forms class="style-guide-section temp-grey-box"></app-forms>
<app-alerts class="style-guide-section temp-grey-box"></app-alerts>
<app-icons class="style-guide-section temp-grey-box"></app-icons>
<app-spacing class="style-guide-section temp-grey-box"></app-spacing>
